# <center> linear regression </center>

In [1]:
import pandas as pd
df = pd.read_csv("Cleaned_Car_data.csv")
#df.iloc[row_start:row_end , col_start, col_end]
df = df.iloc[: , 1:]
df.head()

                     name   company  year   Price  kms_driven fuel_type
0     Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1     Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2       Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3  Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4              Ford Figo       Ford  2012  175000       41000    Diesel

## step-1

- check years values
- delete the inappropriate values
- change year data type

In [2]:
car = df
#car=car[car['year'].str.isnumeric()] #taking only the numeric value rows
car['year'].unique()
car['year']=car['year'].astype(int)
car['year'].info()
car['year'].unique()

<class 'pandas.core.series.Series'>
RangeIndex: 816 entries, 0 to 815
Series name: year
Non-Null Count  Dtype
--------------  -----
816 non-null    int32
dtypes: int32(1)
memory usage: 3.3 KB

array([2007, 2006, 2014, 2012, 2013, 2016, 2015, 2010, 2017, 2008, 2018,
       2011, 2019, 2009, 2005, 2000, 2003, 2004, 1995, 2002, 2001])

## step-2

- check price values
- delete inappropriate price values
- change price data type

In [3]:
car=car[car['Price']!='Ask For Price']
car['Price'].info()
car['Price'].unique()
#car['Price']=car['Price'].astype(int)

<class 'pandas.core.series.Series'>
Int64Index: 816 entries, 0 to 815
Series name: Price
Non-Null Count  Dtype
--------------  -----
816 non-null    int64
dtypes: int64(1)
memory usage: 12.8 KB

array([  80000,  425000,  325000,  575000,  175000,  190000,  830000,
        250000,  182000,  315000,  415000,  320000, 1000000,  500000,
        350000,  160000,  310000,   75000,  100000,  290000,   95000,
        180000,  385000,  105000,  650000,  689999,  448000,  549000,
        501000,  489999,  280000,  349999,  284999,  345000,  499999,
        235000,  249999, 1475000,  395000,  220000,  170000,   85000,
        200000,  570000,  110000,  448999, 1891111,  159500,  344999,
        449999,  865000,  699000,  375000,  224999, 1200000,  195000,
        351000,  240000,   90000,  155000,  600000,  189500,  210000,
        390000,  135000, 1600000,  701000,  265000,  525000,  372000,
        635000,  550000,  485000,  329500,  251111,  569999,   69999,
        299999,  399999,  450000,  270000,  158400,  179000,  125000,
        299000,  150000,  285000,  340000,   70000,  289999,  849999,
        749999,  274999,  984999,  599999,  244999,  474999,  245000,
        169500,  275000,  370000,  168000,  145000,   98500,  209000,
        185000,  900000,  699999,  199999,  544999,  199000,  540000,
         49000,  700000,   55000,  895000,  355000,  565000,  365000,
         40000,  400000,  330000,  580000,  379000,  219000,  519000,
        730000, 2000000, 2100000, 1400000,  311000,  855000,  535000,
        178000,  300000,  255000,  549999,  380000,   57000,  410000,
        225000,  120000,   59000,  599000,  675000,   72500,  610000,
        230000,  520000,  524999,  424999,  644999,  584999,  799999,
        444999,  649999,  944999,  574999,  374999,  130000,  401000,
       1350000,  174999,  239999,   99999,  324999, 1074999, 1130000,
        149000,  770000,   30000,  335000,  399000,   65000,  169999,
        165000,  560000,  950000,  715000,   45000,  940000,  155555,
       1500000,  495000,  800000, 1299000,  530000, 1499000,   32000,
        405000,  760000,  750000,  419000,  140000, 1540000,  123000,
        498000,  480000,  488000, 1525000,  548900,  725000,   99000,
         52000, 2800000,  499000,  381000,  278000,  690000,  260000,
         90001,  115000, 1599000,  159000,   51999,  215000,   35000,
       1150000,  269000,   60000,  430000, 8500003,  401919,  490000,
        424000,  205000,  549900,  435000,  189700,  389700,  360000,
        295000,  114990, 1065000,  470000,   48000,  188000,  465000,
        179999, 2190000, 2390000, 1075000,  475000, 1025000,  615000,
       1900000, 1490000, 1510000, 1850000,  790000, 1725000, 1225000,
         68000,  970000, 3100000,  899000,   88000,   53000,  568500,
         71000,  590000,  795000,   42000,  189000,  162000,   35999,
       2900000,   39999,   50500,  510000,  860000,  500001], dtype=int64)

## step\-3

- check kms\_driven values
- remove unnecessary kms\_driven rows
- change kms\_driven data type

In [4]:
car['kms_driven'].unique()

#car['kms_driven']=car['kms_driven'].str.split().str.get(0).str.replace(',','')
#car=car[car['kms_driven'].str.isnumeric()]

car['kms_driven']=car['kms_driven'].astype(int)
car['kms_driven'].info()
#car['kms_driven'].unique()

<class 'pandas.core.series.Series'>
Int64Index: 816 entries, 0 to 815
Series name: kms_driven
Non-Null Count  Dtype
--------------  -----
816 non-null    int32
dtypes: int32(1)
memory usage: 9.6 KB

## step\-4

- check fuel\_type values
- remove inappropriate data from fuel\_type column
- change price fuel\_type type

In [5]:
car=car[~car['fuel_type'].isna()]
car=car.reset_index(drop=True)
car

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                Ford Figo       Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
811      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
812          Tata Indica V2      Tata  2009  110000       30000    Diesel
813    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
814            Tata Zest XM      Tata  2018  260000       27000    Diesel
815      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[816 rows x 6 columns]

## step\-5

- save this new cleaned file with a new name

In [6]:
car.to_csv('Cleaned_Car_data final.csv')

In [7]:
X=car[['name','company','year','kms_driven','fuel_type']] #feature datafram
y=car['Price'] # outcome dataframe

In [8]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)
from sklearn.linear_model import LinearRegression 
import numpy as np

In [10]:
ohe=OneHotEncoder() #one hot encoder applier
ohe.fit(X[['name','company','fuel_type']]) #changing categorical data to numerical

OneHotEncoder()

In [11]:
column_trans=make_column_transformer((OneHotEncoder(categories=ohe.categories_),['name','company','fuel_type']),
                                    remainder='passthrough')
lr=LinearRegression() #linear regression model

pipe=make_pipeline(column_trans,lr)

In [12]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2', 'Audi A6 2',
       'Audi A8 ', 'Audi Q3 2', 'Audi Q5 2', 'Audi Q7 ', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1 ', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat ', 'Chevrolet Beat Diesel',...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [13]:

y_pred=pipe.predict(X_test)

X_test

                     name   company  year  kms_driven fuel_type
622   Ford EcoSport Trend      Ford  2014       47000    Petrol
365         Honda City ZX     Honda  2008       42000    Petrol
211   Mahindra Jeep CL550  Mahindra  2019           0    Diesel
162  Mahindra Scorpio VLX  Mahindra  2014       50000    Diesel
450    Hyundai Xcent Base   Hyundai  2016      140000    Diesel
..                    ...       ...   ...         ...       ...
329     Renault Scala RxL   Renault  2015       25000    Diesel
541          Hyundai i10    Hyundai  2009       27000    Petrol
460    Mahindra XUV500 W6  Mahindra  2013       49800    Diesel
250      Hyundai i20 Asta   Hyundai  2012       36200    Diesel
239    Hyundai i20 Active   Hyundai  2015       37000    Diesel

[164 rows x 5 columns]

In [14]:
pipe.predict(pd.DataFrame(columns=X_test.columns,data=np.array(['Maruti Suzuki Swift','Maruti',2019,100,'Petrol']).reshape(1,5)))

array([408527.21417955])